body {
    z-index: 1;
    background-color: #515052;
}

#logo-container {
    display: flex;
}

#logo {
    background-color: #C0D6DF;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Playball', cursive;
}

h1 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 72px;
    align-self: flex-end;
}

#button-container {
    display: flex;
    justify-content: space-around;
}

main {

    display: flex;
    justify-content: center;
    flex-direction: column;
}

#main-activities {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-content: center;
    background-color: white;
    border-radius: 25px;
    margin: 50px;
    max-width: 600px;
}

video.eCamera {
    display: none;
}

#media {
    display: flex;
    justify-content: center;
}

#prompt {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 60px;
    text-align: center;
    color: white;
}

#snapshot-transition {
    position: fixed;
    height: 600px;
    width: 600px;
    background-color: transparent;
    transition: all 1s;
    background-image: url();
}

#download-icon {
    display: none;
    position: fixed;
    background-color: black;
    bottom: 60px;
    left: 70px;
    height: 50px;
    width: 30px;
    border-radius: 10px;
}

#download-icon-triangle {
    display: none;
    position: fixed;
    bottom: 40px;
    left: 55px;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 35px solid black;
}

#download-icon-base {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 40px;
    height: 20px;
    width: 60px;
    border-width: 0px 15px 10px 15px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
}


/*CSS from Eric */
 video {
       margin: 1%;
       padding: 2.5%;
       width: 93%;
       align-content: center;
   }
   

   .eHistory {
        z-index: 5;
       height:75% ;
       position: absolute;
       bottom: 0;
       width: 75%;
       background-color: #515052;
       margin: 12.5%;
       overflow: auto;
       display: none;  

   }
.eBehindHistory{
    z-index: 4;
    height:2000px;
    width: 100%;
    opacity: .5;
    background-color: black;
    display: none;
    position: fixed;
}
   .bigDiv {
               z-index: 5;
       align-content: center;
       background-color: #F1FFFA;
       float: left;
       margin: 1%;
       padding: 2.5%;
       width: 93%;
   }
   
   .smallDiv {
               z-index: 5;
       background-color: #C0D6DF;
       margin: 1%;
       padding: 2.5%;
       float: left;
       width: 26%;
   }

.eHistoryButton
{ 
    z-index: 4;
}

.eHistoryButton:touch
{
    background-color:#83444f
    
}

.eHistoryButton:active
{
    background-color: #83444f;
    transform: translateY(4px);
}

/*end CSS from Eric*/
